.swiper-button-prev {
  color: #ebc500;
  transform: scale(0.5);
  background-color: white;
  padding: 50px;
  border-radius: 50%;
  left: -20px;
}
.swiper-button-next {
  color: #ebc500;
  transform: scale(0.5);
  background-color: white;
  padding: 50px;
  border-radius: 50%;
  right: 15px;
}
.swiper-button-prev:hover {
  color: #ebc500;
}
.swiper-button-next:hover {
  color: #ebc500;
}
